.container {
    text-align: center;
    padding: 20px;
}

h4,p {
    margin: 4px;
}

h1 {
    font-weight: bold;
}
button {
    padding: 8px 16px;
    margin: 20px;
    background-color: gray;
    color: black;
}

.userList {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
    color: black;
}

.userData {
    border: 2px solid black;
    padding: 10px;
    width: 220px;
    color: black;
}